itemheader{
.uppertop{
    font-size:1.8rem;
    margin: 5px 10px 0px 10px;
  }

  .ratingstar{
    border:1px;
    margin:1px 15px 15px 13px;
    color:#DBE827;
  }
  .data{
    border:1px;
    text-align:center;
    font-size:2.0rem;
    margin:1px 15px 0px 1px;
  }
  .price{

   color:#088C1B;
  text-align:right;
    margin:1px 15px 15px 13px;
  }
  
}