

        <ion-card>
          <div class="uppertop">
            <b>Ovenstory Pizza</b>
      
            <br> Pizza
          </div>
      
          <hr>
          
          <ion-grid>
      
            <ion-row>
              <ion-col col-4>
                <ion-icon name="star" item-center class="ratingstar">&nbsp;0.0</ion-icon>
              </ion-col>
              <ion-col col-4>
                <div class="data">data</div>
              </ion-col>
              <ion-col col-4>
                <div class="price"> &#8377; 95 </div>
               
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>