page-starter {
  
  hr {
    border:none;
    border-top:1px dotted black;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;
  }
  
  .card-title{
    padding:20px 0px 0px 10px;
    font-size:1.5rem;
  }

  
 
}
