basiccard {
    .add {
        text-align:right;
        color:green;
        margin-top:0px; 
        padding-right:10px;
       }
       .price3
       {
        text-align: left;
       color:green;
       margin:10px 5px;
       
        padding-left:10px;
      }
      
      
      .header{
        padding :8px;
      }      
}
