<ion-card>
    <ion-card>
        <ion-card-header class="header">
          Hara Bara Kebab
        </ion-card-header>
        <ion-grid>
            <ion-row>
              <ion-col>
                  <div class="price3"> &#8377; 95 </div>
                  
              </ion-col>
              <ion-col>
                 
                  <div class="add"><button ion-button  outline small>Add</button></div>
              </ion-col>
            </ion-row>
        </ion-grid>
        <ion-card-content>
            Mashed aloo,palak,cashewnut and pannerdeep...more
           </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            Header
          </ion-card-header>
          <ion-card-content>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          </ion-card-content>
        </ion-card>
</ion-card>