page-cart {

    ion-icon {
        font-size: 20px;
       //Preferred size here
    }
    .remove {
        margin-left:145px;
        margin-top:0px;
    }
    .total{
        font-size: 20px;
        margin-left :300px;
    }
    .item{
        font-size: 15px;
        margin-left :10px;
        margin-bottom:15px;
    }
}
