page-cart {

    ion-icon {
        font-size: 25px;
        color:black;
       //Preferred size here
    }
    .remove {
        margin-left:145px;
       
    }
    .total{
        font-size: 20px;
        text-align:right;
        margin-right:50px;
        margin-top:8px;
    }
    p{
        font-size: 15px;
       color:green;
        text-align:left;
       
    }
    .price2{
        text-align: left;
       color:green;
        margin-right:1px;
       
        
      }
      .cross{
          align-items: left;
      }
      h1{
         
          margin-left:50px;
      }
      .no-margin {
        margin: 0 !important;
      }
      
      .no-padding {
        padding: 0 !important;
      }
}
