<!-- Generated template for the ItemgridComponent component -->
<ion-card class="maincard">
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div class="card1">
                    <ion-card>
                        <img src="assets/img/starter/tikka.jpg" />
                        <div class="card-title">Chicken Tikka</div>


                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <div class="price2"> &#8377; 95 </div>
                                </ion-col>
                                <ion-col>
                                    <div class="add"><button ion-button outline small (click)="addToCart()">Add</button></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </ion-card>
                </div>
            </ion-col>
            <ion-col col-6>
                <div class="card1">
                    <ion-card>
                        <img src="assets/img/starter/tikka.jpg" />
                        <div class="card-title">Chicken Tikka</div>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <div class="price2"> &#8377; 95 </div>
                                </ion-col>
                                <ion-col>
                                    <div class="add"><button ion-button outline small (click)="addToCart()">Add</button></div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>




                    </ion-card>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-card>