itemgrid {
    .price2{
        text-align: left;
       color:green;
       margin:10px 5px;
       
        padding-left:10px;
      }
      .add {
        text-align:right;
        color:#807E00;
        margin-top:0px; 
        padding-right:10px;
       }
}
