imagecard {
    .price{
        text-align: left;
       color:green;
       margin:10px 5px;
       
        padding-left:10px;
      }
      hr {
        border:none;
        border-top:1px dotted black;
        color:#fff;
        background-color:#fff;
        height:1px;
        width:100%;
      }
      .add {
        text-align:right;
        color:green;
        margin-top:0px; 
        padding-right:10px;
       }
}
