<hr >
<ion-card>
  <img src="assets/img/starter/starter4.png" />
  <div class="card-title">Starter</div>
  <ion-grid>
      <ion-row>
        <ion-col>
          <div class="price"> &#8377; 95 </div>
        </ion-col>
        <ion-col>
          <div class="add"><button ion-button outline small>Add</button></div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-card>
<hr>

<ion-card>
  <img src="assets/img/starter/FCBL.png" />
  <div class="card-title">Starter</div>
  <ion-grid>
      <ion-row>
        <ion-col>
          <div class="price"> &#8377; 95 </div>
        </ion-col>
        <ion-col>
          <div class="add"><button ion-button outline small>Add</button></div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-card> 